<style>
    .flex-container {
        display: flex;
        justify-content: center;
        background-color: #f1f1f1;  
    }
    .flex-container1 {
        display: flex;
        justify-content: space-around;
        background-color: #f1f1f1;  
    }

    .flex-container>div {
        background-color: #f1f1f1;
        margin: 10px;
        text-align: center;
        line-height: 50px;
    }
    ul {
        list-style: none;
    }
    .foot {
        font-size: 15px;
    }
    ul li a {
        color: #585656;
    }
    #social li {
        display: inline;
    }
    button {
        background-color: black;
        margin: 3px;
    }
    .btn {
        color: white;
    }
    #iso div li {
        text-align: left;
        list-style: none;
    }
    #iso div li img {
        width: 80px;
    }
    #chat {
        position: fixed;
        bottom:0px;
        right: 0px;
    }
    
</style>
<div class="flex-container">
    <div class="foot">
        <ul>
            <li><b>For induviduals</b></li>
            <li><a href="#">GSM tariffs</a></li>
            <li><a href="#">CDMA tariffs</a></li>
            <li><a href="#">Mobile internet</a></li>
            <li><a href="#">Home internet</a></li>
            <li><a href="#">IPTV</a></li>
            <li><a href="#">How to connect</a></li>
            <li><a href="#">Phones and equipment</a></li>
            <li><a href="#">Other services</a></li>
        </ul>
    </div>
    <div class="foot">
        <ul>
            <li><b>For business</b></li>
            <li><a href="#">GSM tariffs</a></li>
            <li><a href="#">CDMA tariffs</a></li>
            <li><a href="#">Mobile internet</a></li>
            <li><a href="#">Home internet</a></li>
            <li><a href="#">IPTV</a></li>
            <li><a href="#">How to connect</a></li>
            <li><a href="#">Phones and equipment</a></li>
            <li><a href="#">Other services</a></li>
        </ul>
    </div>
    <div class="foot">
        <ul>
            <li><b>For operators</b></li>
            <li><a href="#">Internet channels</a></li>
            <li><a href="#">Voice interconnect</a></li>
            <li><a href="#">Rental of communications <br> channels</a></li>
            <li><a href="#">Cable sewer rental</a></li>
            <li><a href="#">Colocation</a></li>
        </ul>
    </div>
    <div class="foot">
        <ul>
            <li><b>"Uzbektelecom" JSC</b></li>
            <li><a href="#">About company</a></li>
            <li><a href="#">Licenses and certificates</a></li>
            <li><a href="#">Corporate governance</a></li>
            <li><a href="#">Press center</a></li>
            <li><a href="#">Vacancies</a></li>
            <li><a href="#">Dislocation of sales offices</a></li>
            <li><a href="#">Legal informations</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Public offer</a></li>
            <li><a href="#">Procurement</a></li>
            <li><a href="#">Site map</a></li>
        </ul>
    </div>
    <div class="foot">
        <ul>
            <li><b>Contact us</b></li>
            <li><a href="#"><img src="img/phone.png" alt="phone-png"><b>1084</b></a><p>Internet and IPTV services</p></li>
            <li><a href="#"><img src="img/phone.png" alt="phone-png"><b>1086</b></a><p>Telephone Repair Bureau</p></li>
            <li><a href="#"><img src="img/phone.png" alt="phone-png"><b>1099</b></a><p>Mobile services</p></li>
            <li><a href="#"><img src="img/phone.png" alt="phone-png"><b>1155</b></a><p>For corporate clients</p></li>
            <li><a href="#"><img src="img/email.png" alt="email-png">send message</a></li>
            <li>
                <ul id="social">
                    <li><a href="#"><img src="img/facebook.png" alt=""></a></li>
                    <li><a href="#"><img src="img/instagram.jpg" alt=""></a></li>
                    <li><a href="#"><img src="img/telegram.png" alt=""></a></li>
                    <li><a href="#"><img src="img/vkontakte.png" alt=""></a></li>
                    <li><a href="#"><img src="img/twitter.png" alt=""></a></li>
                    <li><a href="#"><img src="img/youtube.png" alt=""></a></li>
                </ul>
            </li>
            <li>
                <button>
                    <a class="btn" href="#"><img src="img/googleplay.png" alt="google play"> Google play</a>
                </button>
            </li>
            <li>
                <button>
                    <a class="btn" href="#"><img src="img/appstore.png" alt="app store"> Apple store</a>
                </button>
            </li>
        </ul>
    </div>
</div>

<div class="flex-container1" id="iso">
    <div class="foot">
        <li>© 2022 "Uzbektelecom" JSC. All services are licensed

            Website is working in a test form.</li>
            <li>At full or partial use and citation of articles, published on this site, a link to the official site is required.</li>
            <li>
                <img src="img/24.png" alt="24">
            </li>
    </div>
    <div class="foot">
        <li style="text-align: right;">
            <img src="img/iso1.svg" alt="iso 1">
            <img src="img/iso2.svg" alt="iso 2">
        </li>
    </div>
</div>
<div style="text-align: right;" id="chat">
    <button class="btn btn-primary">
        Онлайн чат с оператором
    </button>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>