<style>
    .tarif {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        margin: 10px;

    }
    .tarif a {
        text-decoration: none;
        color: black;
    }
</style>

<div class="tarif">
    <a href="">
        <div class="card card1" style="width: 18rem;">
            <div style="background-color: blue;">
                <h3>TA'LIM</h3>
                <p>GSM tariffs</p>
            </div>
            <div class="card-body">
                <p class="card-title"><img src="img/phone.png" alt=""> included Limit <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp300 minutes</b></p>
                <p class="card-title"><img src="img/internet.png" alt=""> Internet <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp8000 MB</b></p>
                <p class="card-title"><img src="img/sms.png" alt=""> SMS <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp500</b></p>
            </div>
            <div class="card-body">
                <p class="card-title">Price Monthly <br> <b> 34900 sum</b></</p>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card card1" style="width: 18rem;">
            <div style="background-color: blue;">
                <h3>MAKTAB</h3>
                <p>GSM tariffs</p>
            </div>
            <div class="card-body">
                <p class="card-title"><img src="img/phone.png" alt=""> included Limit <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp200 minutes</b></p>
                <p class="card-title"><img src="img/internet.png" alt=""> Internet <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5000 MB</b></p>
                <p class="card-title"><img src="img/sms.png" alt=""> SMS <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp500</b></p>
            </div>
            <div class="card-body">
                <p class="card-title">Price Monthly <br> <b> 29900 sum</b></</p>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card card1" style="width: 18rem;">
            <div style="background-color: blue;">
                <h3>Plain</h3>
                <p>CDMA tariffs</p>
            </div>
            <div class="card-body">
                <p class="card-title"><img src="img/phone.png" alt=""> included Limit <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp250 minutes</b></p>
                <p class="card-title"><img src="img/internet.png" alt=""> Internet <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp500 MB</b></p>
                <p class="card-title"><img src="img/sms.png" alt=""> SMS <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp250</b></p>
            </div>
            <div class="card-body">
                <p class="card-title">Price Monthly <br> <b> 34900 sum</b></</p>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card card1" style="width: 18rem;">
            <div style="background-color: green;">
                <h3>Optimal</h3>
                <p>CDMA tariffs</p>
            </div>
            <div class="card-body">
                <p class="card-title"><img src="img/phone.png" alt=""> included Limit <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp350 minutes</b></p>
                <p class="card-title"><img src="img/internet.png" alt=""> Internet <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp350 MB</b></p>
                <p class="card-title"><img src="img/sms.png" alt=""> SMS <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp350</b></p>
            </div>
            <div class="card-body">
                <p class="card-title">Price Monthly <br> <b> 20900 sum</b></</p>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card card1" style="width: 18rem;">
            <div style="background-color: green;">
                <h3>Excellent</h3>
                <p>CDMA tariffs</p>
            </div>
            <div class="card-body">
                <p class="card-title"><img src="img/phone.png" alt=""> included Limit <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Unlimited</b></p>
                <p class="card-title"><img src="img/internet.png" alt=""> Internet <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1000 MB</b></p>
                <p class="card-title"><img src="img/sms.png" alt=""> SMS <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1000</b></p>
            </div>
            <div class="card-body">
                <p class="card-title">Price Monthly <br> <b> 39900 sum</b></</p>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card card1" style="width: 18rem;">
            <div style="background-color: yellow;">
                <h3>Unlimited</h3>
                <p>Phone to the office</p>
            </div>
            <div class="card-body">
                <p class="card-title"><img src="img/phone.png" alt=""> included Limit <br> <b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Unlimited</b></p>
            </div>
            <div class="card-body">
                <p class="card-title">Price Monthly <br> <b> 25500 sum</b></</p>
            </div>
        </div>
    </a>
</div>