<%- include("../partials/header") %>
    <%- include("../partials/navbar1") %>
    <style>
        #indi1 {
                background-image: url('img/telecom1.jpg');
                background-size: 100%;
                background-repeat: no-repeat;
                height: 200px;
                color: white;
        }
        #about {
            margin: 10px auto;
            width: 80%;
        }
        h4 {
                color: blue;
            }
    </style>
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/"> <h4><img src="img/uztelecom.jpg" alt=""> UZTELECOM </h4></a>
                    </li>
                </ul>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Licenses and certificates
                        </a>
                    </li>
                </ul>
            </div>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container-fluid" id="indi1">
        <h3>About company</h3>
    </div>

    <div id="about">
        <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis pariatur debitis animi ad ex alias facilis corrupti, non at vero quae nesciunt sint eligendi voluptas hic maiores deleniti obcaecati!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis pariatur debitis animi ad ex alias facilis corrupti, non at vero quae nesciunt sint eligendi voluptas hic maiores deleniti obcaecati!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis pariatur debitis animi ad ex alias facilis corrupti, non at vero quae nesciunt sint eligendi voluptas hic maiores deleniti obcaecati!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis pariatur debitis animi ad ex alias facilis corrupti, non at vero quae nesciunt sint eligendi voluptas hic maiores deleniti obcaecati!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis pariatur debitis animi ad ex alias facilis corrupti, non at vero quae nesciunt sint eligendi voluptas hic maiores deleniti obcaecati!
        </h5>
    </div>

        <%- include("../partials/footer") %>